body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #212112;
    background-image: url('../images/background-img.svg');
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    overflow-x: hidden;
}
/* Add a black background color to the top navigation */
nav {
    background-color: #333;
    overflow: hidden;
    padding: 20px 20px 20px 20px;
}

/* Style the links inside the navigation bar */
nav a {
    float: left;
    color: ghostwhite;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
nav a:hover {
    color: blue;
}