body{
    text-align: center;
}
label,
textarea {
    font-size: .8rem;
    letter-spacing: 1px;
}
textarea {
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
}

label {
    display: block;
    margin-top: 10px;
}
.btn-success{
    margin-bottom: 20px;
    margin-top: 20px;
}
.contact-us {
    margin-top: 90px;
    border-bottom: 3px dotted #eee;
    padding-bottom: 90px;
  }
  
  .contact-us .section-heading {
    margin-bottom: 40px;
  }
  
  .contact-us #map {
    margin-right: 30px;
  }
  
  .contact-us form input {
    width: 100%;
    height: 44px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
  }
  
  .contact-us form input::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
  }
  
  .contact-us form textarea {
    width: 100%;
    height: 140px;
    min-height: 120px;
    max-height: 200px;
    margin-top: 30px;
    margin-bottom: 25px;
    line-height: 44px;
    padding: 0px 15px;
    font-size: 14px;
    font-style: italic;
    font-weight: 500;
    color: #aaa;
    border-radius: 0px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
  }
  
  .contact-us form textarea::focus {
    border-color: #2a2a2a;
    border-radius: 0px;
  }
  
  .contact-us form button {
    width: 44px;
    height: 44px;
    display: inline-block;
    text-align: center;
    line-height: 44px;
    background-color: #2a2a2a;
    box-shadow: none;
    border: 1px solid transparent;
    color: #fff;
    transition: all 0.3s;
  }
  
  .contact-us form button:hover {
    background-color: #fff;
    border: 1px solid #2a2a2a;
    color: #2a2a2a;
  }
#top span{
    font-style: italic;
    font-weight: 400;
    color: navajowhite;
}  
#top h2{
    text-transform: uppercase;
    color: navajowhite;
}
#top{
    padding: 150px;
    background-image: url("https://wallpaperbat.com/img/638007-outrun-ultra-hd-desktop-background-wallpaper-for-widescreen-ultrawide-desktop-laptop-multi-display-dual-triple-monitor-tablet-smartphone.jpg")
}
