body {
    font-family: 'PT Sans', sans-serif;
}

h1 {
    text-align: center;
    margin-top: 80px;
    margin-bottom: 20px;
    font-weight: bold;
    animation: color-change 1s infinite;
}

@keyframes color-change {
    0% {
        color: orangered;
    }

    50% {
        color: lightblue;
    }

    100% {
        color: violet;
    }
}

.card-title {
    text-align: center;
    color: darkcyan;
}

.role {
    text-align: center;
    color: brown;
}

#info-list {
    list-style-type: none;
}

#info,
#info-list {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 2rem;
    color: black;
    text-transform: capitalize;
    margin-bottom: 30px;
}

.framework {
    color: red;
}